@keyframes circle {
	0% {
		opacity: 1;
		width: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		width: 105%;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		visibility: hidden;
	}
	40% {
		visibility: visible;
	}			
	100% {
		opacity: 1;
		visibility: visible;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
		visibility: visible;
	}
	to {
		opacity: 0;
		visibility: hidden;
	}
}

@keyframes jumpUp {
	from {
		top: 53%;
	}
	to {
		top: 38%;
	}
}

@keyframes pulse-marker {
	0% {
		background-image: url("/img/marker.png");
		transform: scale(1);
	}
	50% {
		background-image: url("/img/marker_glow.png");
		transform: scale(1.15);
	}
	100% {
		background-image: url("/img/marker.png");
		transform: scale(1);
	}
}

@keyframes health-strategies-glow {
	0% {
		background-image: url("/img/health_strategies.png");
	}
	50% {
		background-image: url("/img/health_strategies_glow.png");
	}
	100% {
		background-image: url("/img/health_strategies.png");
	}
}

.fadeIn {
	animation: fadeIn 2s forwards;
}

.fadeOut {
	animation: fadeOut 2s forwards;
}

.fadeOutImmediate {
	animation: fadeOut 0s forwards;
}

.jumpUp {
	animation: fadeIn 2s forwards, jumpUp 2s forwards;
}

.pulse-marker {
	animation: pulse-marker 2s infinite;
}